/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Mulish', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

::placeholder {
    padding: 16px;
    font-family: var(--primary-font);
    color: rgba(19, 19, 24, 0.50);
}

select {
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-family: var(--primary-font);
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 14px 35px;
    color: #FFF;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

/* Banner Styles Here */
.banner {
    font-family: var(--primary-font);
    max-width: 1170px;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 0px auto;
    padding-top: 106px;
    padding-bottom: 122px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    /* padding: 106px; */
}

.banner-description {
    padding: 24px 0px 64px;
    max-width: 676px;
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    margin: 0px auto;
}

.search-form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 800px;
    padding: 16px;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 auto;
}

.search-form>input,
select {
    margin-right: 24px;
    border-radius: 8px;
    background: #FFF;
    outline: none;
    border: none;
}

#findBtn {
    padding: 16px;
    width: 22%;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-weight: 700;
}

/* tours section here */
#tours {
    font-family: var(--primary-font);
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tour-title {
    color: #131318;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.tour-description {
    max-width: 577px;
    height: 52px;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    /* 162.5% */
}

.tour_term {
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
    margin-bottom: 16px;
    max-width: 525px;
    list-style-type: disc;
}

.tour_termFinal {
    margin-bottom: 24px;
}

.tour-foot-description {
    color: #5A5A5D;
    line-height: 26px;
    max-width: 530px;
    margin-bottom: 45px;
}

/* Destination  Section Styles here */
.destination {
    font-family: var(--primary-font);
    margin-top: 100px;
}

.destination-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination-description {
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    line-height: 26px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.destination-place-album1,
.destination-place-album2,
.destination-place-album3 {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

/* Choose us section styles here */
.why-chose-us {
    font-family: var(--primary-font);
    margin-top: 100px;
}

.choose-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.choose-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    line-height: 26px;
    max-width: 643px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 48px;
}

.service-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    max-width: 573px;
    padding: 40px;
    margin-left: 24px;
}

.uniq_service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    max-width: 573px;
    padding: 40px;
    margin-left: 24px;
}

.service_img {
    max-width: 64px;
}

.service_title {
    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 16px;
}

.service_description {
    color: #5A5A5D;
    line-height: 26px;
}

.extra-service {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.service-another {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    max-width: 573px;
    padding: 40px;
    margin-left: 24px;
}

/* News Letter Styles here */
#newsLetterSection {
    font-family: var(--primary-font);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.newsLetterTitle {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsLetterShortDescription {
    margin-top: 16px;
    margin-bottom: 24px;
    color: #5A5A5D;
    line-height: 26px;
    max-width: 350px;
}

.newsLetterForm {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 45px;
}

.newsLetterForm>label {
    display: block;
}

.newsLetterForm>label>input[type="text"] {
    border-radius: 8px;
    margin-top: 24px;
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 52px;
    border: none;
    outline: none;
}

.newsLetterForm>label>input[type="email"] {
    margin-top: 24px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 52px;
    border: none;
    outline: none;
}

#newsLetterSection>form>label:nth-child(6)>input[type=submit] {
    border-radius: 8px;
    margin-top: 24px;
    background: #FF5400;
    width: 100%;
    height: 52px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
}

.newsletterimage {
    position: relative;
}

.offering-tag {
    position: absolute;
    width: 324px;
    height: 92px;
    border-radius: 16px;
    background: #FF5400;
    bottom: 300px;
    bottom: 70px;
    left: 324px;
    transform: rotate(-25.628deg);
    padding: 15px;
}

.sitename {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
}

#newsLetterSection>div>div>h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 800;
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

/* Footer Styles */
footer {
    width: 100%;
    max-height: 600px;
    background: rgba(19, 19, 24, 0.05);
    font-family: var(--primary-font);
}

.logo-area {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 15px;
}

.footer-logo-text {
    display: inline;
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.uniq_color {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    line-height: 26px;
    max-width: 769px;
    margin: 0 auto;
}

.social-icons {
    margin-top: 32px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.footerLine {
    margin-bottom: 250px;
    width: 872px;
    height: 1px;
    margin: 0px auto;
    margin-top: 50px;
    border: 1px solid rgba(19, 19, 24, 0.10);
}

.copyright-text {
    color: #131318;
    font-family: var(--secondary-font);
    font-weight: 300;
    display: block;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 110px;
}

/* Centered text over the image */
.destination-img {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    /* background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

/* Tour Guides Section Styles here */
.tour-guides {
    font-family: var(--primary-font);
}

.tourGuideContainer {
    display: flex;
    justify-content: space-around;
}

.tour_guide {
    box-shadow:
        3.7px 3.4px 2.7px rgba(0, 0, 0, 0.022),
        9.5px 8.7px 6.9px rgba(0, 0, 0, 0.031),
        19.3px 17.7px 14.2px rgba(0, 0, 0, 0.039),
        39.8px 36.5px 29.2px rgba(0, 0, 0, 0.048),
        109px 100px 80px rgba(0, 0, 0, 0.07);
        max-width: 500px;
        border: 5px solid red;
        border-radius: 16px;
        
}