/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Mulish', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

::placeholder {
    padding: 16px;
    font-family: var(--primary-font);
    color: rgba(19, 19, 24, 0.50);
}

select {
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-family: var(--primary-font);
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 14px 35px;
    color: #FFF;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

/* Banner Styles Here */
.banner {
    font-family: var(--primary-font);
    max-width: 1170px;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 0px auto;
    padding-top: 106px;
    padding-bottom: 122px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    /* padding: 106px; */
}

.banner-description {
    padding: 24px 0px 64px;
    max-width: 676px;
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    margin: 0px auto;
}

.search-form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 800px;
    padding: 16px;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 auto;
}

.search-form>input,
select {
    margin-right: 24px;
    border-radius: 8px;
    background: #FFF;
    outline: none;
    border: none;
}

#findBtn {
    padding: 16px;
    width: 22%;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-weight: 700;
}

/* tours section here */
#tours {
    font-family: var(--primary-font);
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tour-title {
    color: #131318;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.tour-description {
    max-width: 577px;
    height: 52px;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    /* 162.5% */
}

.tour_term {
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
    margin-bottom: 16px;
    max-width: 525px;
    list-style-type: disc;
}

.tour_termFinal {
    margin-bottom: 24px;
}

.tour-foot-description {
    color: #5A5A5D;
    line-height: 26px;
    max-width: 530px;
    margin-bottom: 45px;
}

/* Destination  Section Styles here */
.destination {
    font-family: var(--primary-font);
    margin-top: 100px;
}

.destination-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination-description {
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    line-height: 26px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.destination-place-album1,
.destination-place-album2,
.destination-place-album3 {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

/* Choose us section styles here */
.why-chose-us {
    font-family: var(--primary-font);
    margin-top: 100px;
}

.choose-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.choose-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    line-height: 26px;
    max-width: 643px;
    margin : 0 auto;
    margin-top: 24px;
    margin-bottom: 48px;
}